################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Controllers/CedulonesController.cs
/Controllers/LoginController.cs
/Entities/Ctasctes_automotores.cs
/Entities/DALBase.cs
/.vs/ProjectEvaluation/web_api_auto.metadata.v6.1
/.vs/ProjectEvaluation/web_api_auto.projects.v6.1
/.vs/Web_Api_Auto/FileContentIndex/e865a403-915f-4ed8-abc2-6c27a332eea2.vsidx
/obj/Debug/net6.0/Web_Api_Auto.pdb
/Web_Api_Tramitescatastro.rar
/obj/Debug/net6.0/Web_Api_Auto.dll
/obj/Debug/net6.0/refint/Web_Api_Auto.dll
/Web_Api_Tramitescatastro.rar
/bin/Debug/net6.0/Web_Api_Auto.dll
/bin/Debug/net6.0/Web_Api_Auto.pdb
/.vs/Web_Api_Auto/v17/.suo
/.vs/Web_Api_Auto/DesignTimeBuild/.dtbcache.v2
/obj/Debug/net6.0/ref/Web_Api_Auto.dll
/.gitignore
*.v2
*.v2
*.v2
*.v2
*.v2
*.v2
*.vsidx
*.v2
.vs/ProjectEvaluation/web_api_auto.metadata.v2
*.bin
*.v2
.vs/ProjectEvaluation/web_api_auto.projects.v7.bin
*.pdb
*.dll
*.bin
*.v2
*.suo
*.exe
*.pdb
*.json
*.cache
*.props
/.vs
.vs/ProjectEvaluation/webapishared.metadata.v7.bin
.vs/ProjectEvaluation/webapishared.projects.v7.bin
.vs/ProjectEvaluation/webapishared.metadata.v7.bin
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation
/.vs
.vs/WebApiShared/v17/.futdcache.v2
.vs/WebApiShared/v17/.futdcache.v2
.vs/WebApiShared/v17/.suo
WebApiShared/bin/Debug/net6.0/web.config
WebApiShared/bin/Debug/net6.0/WebApiShared.dll
WebApiShared/bin/Debug/net6.0/WebApiShared.exe
WebApiShared/bin/Debug/net6.0/WebApiShared.pdb
WebApiShared/bin/Release/net6.0/publish/publishNoti.rar
WebApiShared/bin/Release/net6.0/publish/web.config
WebApiShared/bin/Release/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/WebApiShared/bin
WebApiShared/obj/Debug/net6.0/apphost.exe
/.vs
/.vs
/.vs
/.vs
/WebApiShared/bin
/WebApiShared/bin
WebApiShared/bin/Release/net6.0/publish/publishNoti.rar
/WebApiShared/bin
WebApiShared/WebApiShared.csproj.user
WebApiShared/Properties/PublishProfiles/FolderProfile10.pubxml.user
WebApiShared/Properties/PublishProfiles/FolderProfile10.pubxml
WebApiShared/obj/Release/net6.0/PublishOutputs.377cbe1656.txt
WebApiShared/obj/Debug/net6.0/WebApiShared.AssemblyInfo.cs
WebApiShared/obj/Debug/net6.0/WebApiShared.AssemblyInfoInputs.cache
WebApiShared/bin/Release/net6.0/System.Data.SqlClient.dll
.vs/WebApiShared/DesignTimeBuild/.dtbcache.v2
.vs/WebApiShared/v17/.futdcache.v2
.vs/WebApiShared/v17/.suo
