################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Controllers/CedulonesController.cs
/Controllers/LoginController.cs
/Entities/Ctasctes_automotores.cs
/Entities/DALBase.cs
/.vs/ProjectEvaluation/web_api_auto.metadata.v6.1
/.vs/ProjectEvaluation/web_api_auto.projects.v6.1
/.vs/Web_Api_Auto/FileContentIndex/e865a403-915f-4ed8-abc2-6c27a332eea2.vsidx
/obj/Debug/net6.0/Web_Api_Auto.pdb
/Web_Api_Tramitescatastro.rar
/obj/Debug/net6.0/Web_Api_Auto.dll
/obj/Debug/net6.0/refint/Web_Api_Auto.dll
/Web_Api_Tramitescatastro.rar
/bin/Debug/net6.0/Web_Api_Auto.dll
/bin/Debug/net6.0/Web_Api_Auto.pdb
/.vs/Web_Api_Auto/v17/.suo
/.vs/Web_Api_Auto/DesignTimeBuild/.dtbcache.v2
/obj/Debug/net6.0/ref/Web_Api_Auto.dll
/.gitignore
*.v2
*.v2
*.v2
*.v2
*.v2
*.v2
*.vsidx
*.v2
.vs/ProjectEvaluation/web_api_auto.metadata.v2
*.bin
*.v2
.vs/ProjectEvaluation/web_api_auto.projects.v7.bin
*.pdb
*.dll
*.bin
*.v2
*.suo
*.exe
*.pdb
*.json
*.cache
*.props
/.vs
.vs/ProjectEvaluation/webapishared.metadata.v7.bin
.vs/ProjectEvaluation/webapishared.projects.v7.bin
.vs/ProjectEvaluation/webapishared.metadata.v7.bin
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation
/.vs
